# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Dataset
data/


saved_models/best_melspec_model.h5
# Node
node_modules/

# Jupyter
.ipynb_checkpoints/

# System Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
logs/

# Temporary Files
temp/
tmp/

# Cache
.cache/